@using System.Web.Optimization;
@{

    Layout = null;

}

<!doctype html>
<html lang="en" ng-app="EmiratesRacing">
<head>
    <meta charset="utf-8">
    <title>TEST</title>
    @Styles.Render("~/bootstrapAngularStyles")

</head>
<body>

    <div class="container">
        <div class="page-header">


            <ul class="nav nav-pills pull-right">

                <li>
                    <horse-search-template></horse-search-template>
                </li>
            </ul>
            @*<h3 ng-bind="horse.Title" class="text-muted"></h3>*@
        </div>
        <div class="row" ng-controller="horseMain as mainC">
            @*<horse-template></horse-template>*@
            <input horse-search-bar ng-model="selectedHorseTxt">
            <br />

            Horse : {{mainC.horse}}
            Breed : {{mainC.horseBreed}}
            Owner : {{mainC.horseOwner}}
        </div>
        <div class="row">
            <pedigree-template></pedigree-template>
        </div>

    </div>
</body>
@Scripts.Render("~/bootstrapAngularScripts")
@Scripts.Render("~/AngularScripts")
</html>