@using System.Web.Optimization;
@{
    
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/bootstrapAngularScripts")
    @Styles.Render("~/bootstrapAngularStyles")
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
   <div class="container-fluid">

       <div class="row">
           <p>Enter Link Here :</p>

       </div> 
   </div>
</body>
</html>
