@using System.Web.Optimization;
@{

    Layout = "~/Views/Shared/_layout.cshtml";

}



    <div class="container">
        <div class="page-header">


            <ul class="nav nav-pills pull-right">

                <li>
                    <horse-search-template></horse-search-template>
                </li>
            </ul>
            @*<h3 ng-bind="horse.Title" class="text-muted"></h3>*@
        </div>
        
        

        <div class="row" ng-controller="horseMain as mainC">
            @*<horse-template></horse-template>*@
            <input name="searchBar" gethorse="GetSelectedJson" horse-search-bar ng-model="selectedHorseTxt">
            <br />

            Horse : {{mainC.horse}}
            Breed : {{mainC.horseBreed}}
            Owner : {{mainC.horseOwner}}

            <div class="row">
                <pedigree-template  gethorse="GetSelectedJson" json="mainC.selectedHorse"></pedigree-template>
            </div>
        </div>
        
        

    </div>
