@using System.Web.Optimization;
@{
    
    Layout = null;
    
}

<!doctype html>
<html lang="en" ng-app="EmiratesRacing">
<head>
    <meta charset="utf-8">
    <title>TEST</title>
    @Styles.Render("~/bootstrapAngularStyles")

</head>
<body>
    
    <div class="container">
        <div class="page-header">


            <ul class="nav nav-pills pull-right">
               
                <li>
                   <search-horse></search-horse>
                </li>
            </ul>
            @*<h3 ng-bind="horse.Title" class="text-muted"></h3>*@
        </div>
        <div class="row">
            @*<horse-template></horse-template>*@
            <input auto-complete ng-model="selectedHorse">
            <br />

            Horse : <span ng-bind="selectedHorse"></span>
            Breed : <span ng-bind="selectedHorseBreed"></span>
            Owner : <span ng-bind="selectedHorseOwner"></span>
        </div>


    </div>
</body>
@Scripts.Render("~/bootstrapAngularScripts")
</html>