@using System.Web.Optimization;
@{
    
    Layout = null;
    
}

<!doctype html>
<html lang="en" ng-app="EmiratesRacing">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Autocomplete - Default functionality</title>
    @Styles.Render("~/bootstrapAngularStyles")

</head>
<body>

    <div class="container-fluid" ng-controller="SearchHorse as horse">
        <div class="page-header">


            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#">Search</a>
                </li>
            </ul>
            <h3 ng-bind="horse.Title" class="text-muted"></h3>
        </div>



    </div>
</body>
@Scripts.Render("~/bootstrapAngularScripts")
</html>