@using System.Web.Optimization


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/bootstrapAngularStyles")
</head>
<body ng-app="EmiratesRacing">
    <div>
      

        ................................
        @RenderBody()
    </div>
</body>

@Scripts.Render("~/bootstrapAngularScripts")
@Scripts.Render("~/AngularScripts")
</html>
